// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { PagePromise, SkipLimit, type SkipLimitParams } from '../../core/pagination';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

/**
 *  Create and manage Trackers.
 *
 *  Trackers can be used to track interactions in your orders through
 *  personalized URLs and QR codes.
 *
 *  As a brief introduction to using Trackers in your orders, a QR code can be
 *  generated by using the Tracker's ID as a merge variable in your orders HTML
 *  and Templates. The following example HTML uses Trackers to generate
 *  personalized URLs (PURLs) in your orders.
 *
 *  See the following guide for more details: https://postgrid.readme.io/reference/trackers-1
 */
export class Trackers extends APIResource {
  /**
   * Create a Tracker.
   *
   * @example
   * ```ts
   * const tracker = await client.printMail.trackers.create({
   *   redirectURLTemplate:
   *     'https://postgrid.com?name={{to.firstName}}',
   *   urlExpireAfterDays: 30,
   * });
   * ```
   */
  create(body: TrackerCreateParams, options?: RequestOptions): APIPromise<TrackerCreateResponse> {
    return this._client.post('/print-mail/v1/trackers', { body, ...options });
  }

  /**
   * Retrieve a Tracker by ID.
   *
   * @example
   * ```ts
   * const tracker = await client.printMail.trackers.retrieve(
   *   'id',
   * );
   * ```
   */
  retrieve(id: string, options?: RequestOptions): APIPromise<TrackerRetrieveResponse> {
    return this._client.get(path`/print-mail/v1/trackers/${id}`, options);
  }

  /**
   * Update a Tracker by ID.
   *
   * @example
   * ```ts
   * const tracker = await client.printMail.trackers.update(
   *   'id',
   *   {
   *     redirectURLTemplate:
   *       'https://postgrid.com?firstName={{to.firstName}}',
   *     urlExpireAfterDays: 90,
   *   },
   * );
   * ```
   */
  update(id: string, body: TrackerUpdateParams, options?: RequestOptions): APIPromise<TrackerUpdateResponse> {
    return this._client.post(path`/print-mail/v1/trackers/${id}`, { body, ...options });
  }

  /**
   * Retrieve a paginated list of Trackers.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const trackerListResponse of client.printMail.trackers.list()) {
   *   // ...
   * }
   * ```
   */
  list(
    query: TrackerListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<TrackerListResponsesSkipLimit, TrackerListResponse> {
    return this._client.getAPIList('/print-mail/v1/trackers', SkipLimit<TrackerListResponse>, {
      query,
      ...options,
    });
  }

  /**
   * Delete a Tracker by ID. Note that this operation cannot be undone.
   *
   * @example
   * ```ts
   * const tracker = await client.printMail.trackers.delete(
   *   'id',
   * );
   * ```
   */
  delete(id: string, options?: RequestOptions): APIPromise<TrackerDeleteResponse> {
    return this._client.delete(path`/print-mail/v1/trackers/${id}`, options);
  }

  /**
   * Retrieve a paginated list of visits for a Tracker.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const trackerRetrieveVisitsResponse of client.printMail.trackers.retrieveVisits(
   *   'id',
   * )) {
   *   // ...
   * }
   * ```
   */
  retrieveVisits(
    id: string,
    query: TrackerRetrieveVisitsParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<TrackerRetrieveVisitsResponsesSkipLimit, TrackerRetrieveVisitsResponse> {
    return this._client.getAPIList(
      path`/print-mail/v1/trackers/${id}/visits`,
      SkipLimit<TrackerRetrieveVisitsResponse>,
      { query, ...options },
    );
  }
}

export type TrackerListResponsesSkipLimit = SkipLimit<TrackerListResponse>;

export type TrackerRetrieveVisitsResponsesSkipLimit = SkipLimit<TrackerRetrieveVisitsResponse>;

export interface TrackerCreateResponse {
  /**
   * A unique ID prefixed with tracker\_
   */
  id: string;

  /**
   * The UTC time at which this resource was created.
   */
  createdAt: string;

  /**
   * `true` if this is a live mode resource else `false`.
   */
  live: boolean;

  /**
   * Always `tracker`.
   */
  object: 'tracker';

  /**
   * The base template for URLs generated by this Tracker.
   */
  redirectURLTemplate: string;

  /**
   * The unique number of interactions the Tracker has had.
   */
  uniqueVisitCount: number;

  /**
   * The UTC time at which this resource was last updated.
   */
  updatedAt: string;

  /**
   * The number of days generated Tracker URLs remain valid.
   */
  urlExpireAfterDays: 30 | 60 | 90 | 180 | 365;

  /**
   * The total number of interactions the Tracker has had.
   */
  visitCount: number;

  /**
   * An optional string describing this resource. Will be visible in the API and the
   * dashboard.
   */
  description?: string;

  /**
   * See the section on Metadata.
   */
  metadata?: { [key: string]: unknown };
}

export interface TrackerRetrieveResponse {
  /**
   * A unique ID prefixed with tracker\_
   */
  id: string;

  /**
   * The UTC time at which this resource was created.
   */
  createdAt: string;

  /**
   * `true` if this is a live mode resource else `false`.
   */
  live: boolean;

  /**
   * Always `tracker`.
   */
  object: 'tracker';

  /**
   * The base template for URLs generated by this Tracker.
   */
  redirectURLTemplate: string;

  /**
   * The unique number of interactions the Tracker has had.
   */
  uniqueVisitCount: number;

  /**
   * The UTC time at which this resource was last updated.
   */
  updatedAt: string;

  /**
   * The number of days generated Tracker URLs remain valid.
   */
  urlExpireAfterDays: 30 | 60 | 90 | 180 | 365;

  /**
   * The total number of interactions the Tracker has had.
   */
  visitCount: number;

  /**
   * An optional string describing this resource. Will be visible in the API and the
   * dashboard.
   */
  description?: string;

  /**
   * See the section on Metadata.
   */
  metadata?: { [key: string]: unknown };
}

export interface TrackerUpdateResponse {
  /**
   * A unique ID prefixed with tracker\_
   */
  id: string;

  /**
   * The UTC time at which this resource was created.
   */
  createdAt: string;

  /**
   * `true` if this is a live mode resource else `false`.
   */
  live: boolean;

  /**
   * Always `tracker`.
   */
  object: 'tracker';

  /**
   * The base template for URLs generated by this Tracker.
   */
  redirectURLTemplate: string;

  /**
   * The unique number of interactions the Tracker has had.
   */
  uniqueVisitCount: number;

  /**
   * The UTC time at which this resource was last updated.
   */
  updatedAt: string;

  /**
   * The number of days generated Tracker URLs remain valid.
   */
  urlExpireAfterDays: 30 | 60 | 90 | 180 | 365;

  /**
   * The total number of interactions the Tracker has had.
   */
  visitCount: number;

  /**
   * An optional string describing this resource. Will be visible in the API and the
   * dashboard.
   */
  description?: string;

  /**
   * See the section on Metadata.
   */
  metadata?: { [key: string]: unknown };
}

export interface TrackerListResponse {
  /**
   * A unique ID prefixed with tracker\_
   */
  id: string;

  /**
   * The UTC time at which this resource was created.
   */
  createdAt: string;

  /**
   * `true` if this is a live mode resource else `false`.
   */
  live: boolean;

  /**
   * Always `tracker`.
   */
  object: 'tracker';

  /**
   * The base template for URLs generated by this Tracker.
   */
  redirectURLTemplate: string;

  /**
   * The unique number of interactions the Tracker has had.
   */
  uniqueVisitCount: number;

  /**
   * The UTC time at which this resource was last updated.
   */
  updatedAt: string;

  /**
   * The number of days generated Tracker URLs remain valid.
   */
  urlExpireAfterDays: 30 | 60 | 90 | 180 | 365;

  /**
   * The total number of interactions the Tracker has had.
   */
  visitCount: number;

  /**
   * An optional string describing this resource. Will be visible in the API and the
   * dashboard.
   */
  description?: string;

  /**
   * See the section on Metadata.
   */
  metadata?: { [key: string]: unknown };
}

export interface TrackerDeleteResponse {
  /**
   * A unique ID prefixed with tracker\_
   */
  id: string;

  deleted: true;

  /**
   * Always `tracker`.
   */
  object: 'tracker';
}

export interface TrackerRetrieveVisitsResponse {
  /**
   * A unique ID prefixed with `tracker_visit_`.
   */
  id: string;

  /**
   * The UTC time at which this visit was created.
   */
  createdAt: string;

  /**
   * The type of device associated with the visit.
   */
  device: string;

  /**
   * The IP address associated with the visit.
   */
  ipAddress: string;

  /**
   * Indicates if the visit was used in a live order or not.
   */
  live: boolean;

  /**
   * Always `tracker_visit`.
   */
  object: 'tracker_visit';

  /**
   * The ID of the order where the interaction occurred.
   */
  orderID: string;

  /**
   * The ID of the tracker related to this visit.
   */
  tracker: string;

  /**
   * The UTC time at which this visit was last updated.
   */
  updatedAt: string;
}

export interface TrackerCreateParams {
  /**
   * The base template for URLs generated by this Tracker.
   */
  redirectURLTemplate: string;

  /**
   * The number of days generated Tracker URLs remain valid.
   */
  urlExpireAfterDays: 30 | 60 | 90 | 180 | 365;

  /**
   * An optional string describing this resource. Will be visible in the API and the
   * dashboard.
   */
  description?: string;

  /**
   * See the section on Metadata.
   */
  metadata?: { [key: string]: unknown };
}

export interface TrackerUpdateParams {
  /**
   * The base template for URLs generated by this Tracker.
   */
  redirectURLTemplate: string;

  /**
   * The number of days generated Tracker URLs remain valid.
   */
  urlExpireAfterDays: 30 | 60 | 90 | 180 | 365;

  /**
   * An optional string describing this resource. Will be visible in the API and the
   * dashboard.
   */
  description?: string;

  /**
   * See the section on Metadata.
   */
  metadata?: { [key: string]: unknown };
}

export interface TrackerListParams extends SkipLimitParams {
  /**
   * You can supply any string to help narrow down the list of resources. For
   * example, if you pass `"New York"` (quoted), it will return resources that have
   * that string present somewhere in their response. Alternatively, you can supply a
   * structured search query. See the documentation on `StructuredSearchQuery` for
   * more details.
   */
  search?: string;
}

export interface TrackerRetrieveVisitsParams extends SkipLimitParams {
  /**
   * You can supply any string to help narrow down the list of resources. For
   * example, if you pass `"New York"` (quoted), it will return resources that have
   * that string present somewhere in their response. Alternatively, you can supply a
   * structured search query. See the documentation on `StructuredSearchQuery` for
   * more details.
   */
  search?: string;
}

export declare namespace Trackers {
  export {
    type TrackerCreateResponse as TrackerCreateResponse,
    type TrackerRetrieveResponse as TrackerRetrieveResponse,
    type TrackerUpdateResponse as TrackerUpdateResponse,
    type TrackerListResponse as TrackerListResponse,
    type TrackerDeleteResponse as TrackerDeleteResponse,
    type TrackerRetrieveVisitsResponse as TrackerRetrieveVisitsResponse,
    type TrackerListResponsesSkipLimit as TrackerListResponsesSkipLimit,
    type TrackerRetrieveVisitsResponsesSkipLimit as TrackerRetrieveVisitsResponsesSkipLimit,
    type TrackerCreateParams as TrackerCreateParams,
    type TrackerUpdateParams as TrackerUpdateParams,
    type TrackerListParams as TrackerListParams,
    type TrackerRetrieveVisitsParams as TrackerRetrieveVisitsParams,
  };
}
